extends ./layout/base
include ./layout/mixins

block content
  .container 
    .page-cover
      picture
        source(
          media="(min-width: 1000px)",
          srcset=require("./img/talleres_de_la_torre_large.jpg")
        )
        source(
          media="(min-width: 700px)",
          srcset=require("./img/talleres_de_la_torre_medium.jpg")
        )
        source(
          media="(min-width: 300px)",
          srcset=require("./img/talleres_de_la_torre_small.jpg")
        )
        img#home-image.home-image.editable(
          src=require("./img/talleres_de_la_torre_large.jpg"),
          alt="Logo de Talleres de la Torre"
        )
      h1#home-title.home-title Talleres de la Torre
      h2#home-subtitle.home-subtitle Especialistas en trabajos de chapa y pintura

    h2.section-title.fit Nuestros servicios
    p.section-text.editable Somos personal cualificado en la mecánica de chapa y pintura para la preparación y reparación de carrocerías de automóviles.
      br
      | Diplomados para el perfecto calibrado de los sistemas de asistencia a la conducción y cámaras de su vehículo.
    .services
      .service
        a(
          href="/servicios.html#calibracion",
          title="Servicios de calibración de ADAS"
        ) 
          picture
            source(
              media="(min-width: 1500px)",
              srcset=require("./img/servicios/servicio_calibrado_adas_small.jpg")
            )
            source(
              media="(min-width: 750px)",
              srcset=require("./img/servicios/servicio_calibrado_adas_xsmall.jpg")
            )
            source(
              media="(min-width: 550px)",
              srcset=require("./img/servicios/servicio_calibrado_adas_small.jpg")
            )
            source(
              media="(min-width: 300px)",
              srcset=require("./img/servicios/servicio_calibrado_adas_xsmall.jpg")
            )
            img.service-image(
              src=require("./img/servicios/servicio_calibrado_adas_small.jpg"),
              alt="Servicios de calibración de ADAS"
            )
          p.service-title Calibración ADAS
      .service
        a(href="/servicios.html#chapa", title="Servicios de chapa") 
          picture
            source(
              media="(min-width: 1500px)",
              srcset=require("./img/servicios/servicio_de_mecanica_de_chapa_small.jpg")
            )
            source(
              media="(min-width: 750px)",
              srcset=require("./img/servicios/servicio_de_mecanica_de_chapa_xsmall.jpg")
            )
            source(
              media="(min-width: 550px)",
              srcset=require("./img/servicios/servicio_de_mecanica_de_chapa_small.jpg")
            )
            source(
              media="(min-width: 300px)",
              srcset=require("./img/servicios/servicio_de_mecanica_de_chapa_xsmall.jpg")
            )
            img.service-image(
              src=require("./img/servicios/servicio_de_mecanica_de_chapa_small.jpg"),
              alt="Servicios de chapa"
            )
          p.service-title Chapa
      .service
        a(href="/servicios.html#pintura", title="Servicios de pintura") 
          picture
            source(
              media="(min-width: 1500px)",
              srcset=require("./img/servicios/servicio_de_pintura_small.jpg")
            )
            source(
              media="(min-width: 750px)",
              srcset=require("./img/servicios/servicio_de_pintura_xsmall.jpg")
            )
            source(
              media="(min-width: 550px)",
              srcset=require("./img/servicios/servicio_de_pintura_small.jpg")
            )
            source(
              media="(min-width: 300px)",
              srcset=require("./img/servicios/servicio_de_pintura_xsmall.jpg")
            )
            img.service-image(
              src=require("./img/servicios/servicio_de_pintura_small.jpg"),
              alt="Servicios de pintura"
            )
          p.service-title Pintura

    h2.section-title.fit Nuestros trabajos
    .works 
      //- First work
      .work 
        .comparison-img-container
          picture 
            source(
              media="(min-width: 1000px)",
              srcset=require("./img/reparaciones/mustang_antes_large.jpg")
            )
            source(
              media="(min-width: 700px)",
              srcset=require("./img/reparaciones/mustang_antes_medium.jpg")
            )
            source(
              media="(min-width: 400px)",
              srcset=require("./img/reparaciones/mustang_antes_small.jpg")
            )
            source(
              media="(min-width: 200px)",
              srcset=require("./img/reparaciones/mustang_antes_xsmall.jpg")
            )
            img.comparison-img(
              src=require("./img/reparaciones/mustang_antes_large.jpg"),
              alt="Reparación costado lateral Ford Mustang"
            )

          picture 
            source(
              media="(min-width: 1000px)",
              srcset=require("./img/reparaciones/mustang_despues_large.jpeg")
            )
            source(
              media="(min-width: 700px)",
              srcset=require("./img/reparaciones/mustang_despues_medium.jpeg")
            )
            source(
              media="(min-width: 400px)",
              srcset=require("./img/reparaciones/mustang_despues_small.jpeg")
            )
            source(
              media="(min-width: 200px)",
              srcset=require("./img/reparaciones/mustang_despues_xsmall.jpeg")
            )
            img.comparison-img-overlay(
              src=require("./img/reparaciones/mustang_despues_large.jpeg"),
              alt="Reparación costado lateral Ford Mustang arreglado"
            )
          <input type="range" min="0" max="100" value="50" class="comparison-img-slider" autocomplete="off" title="">
          p.comparison-tooltip Desliza el punto a derecha e izquierda
        a.comparison-show-more(href="/galeria.html#mustang") Ver más ▶
      //- Second work
      .work 
        .comparison-img-container
          picture 
            source(
              media="(min-width: 1000px)",
              srcset=require("./img/reparaciones/bmw_antes_large.jpg")
            )
            source(
              media="(min-width: 700px)",
              srcset=require("./img/reparaciones/bmw_antes_medium.jpg")
            )
            source(
              media="(min-width: 400px)",
              srcset=require("./img/reparaciones/bmw_antes_small.jpg")
            )
            source(
              media="(min-width: 200px)",
              srcset=require("./img/reparaciones/bmw_antes_xsmall.jpg")
            )
            img.comparison-img(
              src=require("./img/reparaciones/bmw_antes_large.jpg"),
              alt="Reparación frontal BMW"
            )

          picture 
            source(
              media="(min-width: 1000px)",
              srcset=require("./img/reparaciones/bmw_despues_large.jpg")
            )
            source(
              media="(min-width: 700px)",
              srcset=require("./img/reparaciones/bmw_despues_medium.jpg")
            )
            source(
              media="(min-width: 400px)",
              srcset=require("./img/reparaciones/bmw_despues_small.jpg")
            )
            source(
              media="(min-width: 200px)",
              srcset=require("./img/reparaciones/bmw_despues_xsmall.jpg")
            )
            img.comparison-img-overlay(
              src=require("./img/reparaciones/bmw_despues_large.jpg"),
              alt="Reparación frontal BMW arreglado"
            )
          <input type="range" min="0" max="100" value="50" class="comparison-img-slider" autocomplete="off" title="">
          p.comparison-tooltip Desliza el punto a derecha e izquierda
        a.comparison-show-more(href="/galeria.html#bmw-m2") Ver más ▶
      //- Third work
      .work 
        .comparison-img-container
          picture 
            source(
              media="(min-width: 1000px)",
              srcset=require("./img/reparaciones/peugeot_antes_large.jpg")
            )
            source(
              media="(min-width: 700px)",
              srcset=require("./img/reparaciones/peugeot_antes_medium.jpg")
            )
            source(
              media="(min-width: 400px)",
              srcset=require("./img/reparaciones/peugeot_antes_small.jpg")
            )
            source(
              media="(min-width: 200px)",
              srcset=require("./img/reparaciones/peugeot_antes_xsmall.jpg")
            )
            img.comparison-img(
              src=require("./img/reparaciones/peugeot_antes_large.jpg"),
              alt="Reparación frontal Peugeot Partner"
            )

          picture 
            source(
              media="(min-width: 1000px)",
              srcset=require("./img/reparaciones/peugeot_despues_large.jpg")
            )
            source(
              media="(min-width: 700px)",
              srcset=require("./img/reparaciones/peugeot_despues_medium.jpg")
            )
            source(
              media="(min-width: 400px)",
              srcset=require("./img/reparaciones/peugeot_despues_small.jpg")
            )
            source(
              media="(min-width: 200px)",
              srcset=require("./img/reparaciones/peugeot_despues_xsmall.jpg")
            )
            img.comparison-img-overlay(
              src=require("./img/reparaciones/peugeot_despues_large.jpg"),
              alt="Reparación frontal Peugeot Partner arreglado"
            )
          <input type="range" min="0" max="100" value="50" class="comparison-img-slider" autocomplete="off" title="Desliza a izquierda y derecha">
          p.comparison-tooltip Desliza el punto a derecha e izquierda
        a.comparison-show-more(href="/galeria.html#peugeot") Ver más ▶

    h2.section-title.fit Ven a visitarnos
    .map-and-fb
      .map
        iframe#google-maps(
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCT9vrw2zGRXQ9DN5cYGfQGuHhvPmnl_n8&q=place_id:ChIJwR8_WYz5cg0RZrMGYwSD1QA&zoom=14",
          frameborder="0",
          allowfullscreen, title="Talleres de la Torre en Maps"
        )
      .fb-container
        #fb-root
        script(
          async,
          defer,
          class="ce-script"
          type="text/plain"
          crossorigin="anonymous",
          src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v13.0",
          nonce="sjuCOJvs"
        )
        .fb-page(
          data-href="https://www.facebook.com/talleresdelatorre/",
          data-tabs="timeline",
          data-width="360",
          data-height="600",
          data-small-header="false",
          data-adapt-container-width="false",
          data-hide-cover="true",
          data-show-facepile="true",
          data-hide-cta="true"
        )
          blockquote.fb-xfbml-parse-ignore(
            cite="https://www.facebook.com/talleresdelatorre/"
          )
            p Para ver este contenido debe 
              a(href="#", class="ce-accept") Aceptar las cookies
              | . No se añadirá ninguna cookie si no ha iniciado sesión en Google ni Facebook.
            a(href="https://www.facebook.com/talleresdelatorre/")
              | Talleres De La Torre en Facebook
