footer.footer 
  .border-line-1 
  .border-line-2
  .footer-sections 
    .contact-data
        h3.footer-section-title Contacto
        a(
          href="https://www.google.com/maps/place/Talleres+Procar+De+La+Torre/@36.6736988,-4.4730389,21z/data=!3m1!5s0xd72f98c5f50f63b:0xf2e8957665e9c209!4m5!3m4!1s0xd72f98c593f1fc1:0xd583046306b366!8m2!3d36.6737104!4d-4.473164",
          target="_blank",
          rel="nofollow noreferrer noopener"
        )
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="1.6rem" height="1.6rem" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <circle cx="12" cy="11" r="3" />
            <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
          </svg>
          | Carril de la Serrería, 21, Málaga
        a(
          href="mailto:talleresdelatorre@gmail.com",
          target="_blank",
          rel="nofollow noreferrer noopener"
        )
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="1.8rem" height="1.8rem" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <rect x="3" y="5" width="18" height="14" rx="2" />
            <polyline points="3 7 12 13 21 7" />
          </svg>
          | talleresdelatorre@gmail.com
        a(
          href="tel:+34952232392",
          target="_blank",
          rel="nofollow noreferrer noopener"
        )
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone" width="1.6rem" height="1.6rem" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
          </svg>
          | 952 23 23 92
        a(
          href="https://www.facebook.com/talleresdelatorre/",
          target="_blank",
          rel="nofollow noreferrer noopener"
        )
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="1.6rem" height="1.6rem" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
          </svg>
          | talleresdelatorre
    .contact-data
        h3.footer-section-title Horario
        p.timetable-title Lunes - Viernes:
        p.timetable-text 8:30 - 14:00 | 16:00 - 19:30
        p.timetable-title.second Sábados y domingos:
        p.timetable-text Cerrado
  .footer-sections
    .partners.contact-data
      h3.footer-section-title Trabajamos con las siguientes empresas
      .partners-logos-block
        picture.partner-logo
          source(
            media="(min-width: 1500px)",
            srcset=require("./img/mapfre_xsmall.jpeg")
          )
          source(
            media="(min-width: 600px)",
            srcset=require("./img/mapfre_thumbnail.jpeg")
          )
          img(
            src=require("./img/mapfre_xsmall.jpeg"),
            alt="Logo Mapfre"
          )
        picture.partner-logo
          source(
            media="(min-width: 1500px)",
            srcset=require("./img/dekra_xsmall.jpeg")
          )
          source(
            media="(min-width: 600px)",
            srcset=require("./img/dekra_thumbnail.jpeg")
          )
          img(
            src=require("./img/dekra_xsmall.jpeg"),
            alt="Logo Dekra"
          )
        picture.partner-logo
          source(
            media="(min-width: 1500px)",
            srcset=require("./img/dsimobility_xsmall.jpg")
          )
          source(
            media="(min-width: 600px)",
            srcset=require("./img/dsimobility_thumbnail.jpg")
          )
          img(
            src=require("./img/dsimobility_xsmall.jpg"),
            alt="Logo DSI Mobility"
          )
    .footer-links.contact-data
      a(href="/legal.html") Aviso legal
      a(href="/privacidad.html") Política de privacidad
      a(href="/cookies.html") Política de cookies
  .footer-copyright
    p.copyright 
     | Talleres de la Torre © 
     span#copyright-year
     | . Diseñado con 💡 y 🧡 por 
     a(href="https://www.linck.es" target="_blank" rel="noreferrer") Linck